<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login | Crispy - Open Source Chat">
    <meta name="keywords" content="online, chat, app, open-source. crispy">
    <meta property="og:site_name" content="App | Crispy">
    <link rel="icon" href="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png" type="image/png">
    <meta property="og:title" content="App | Crispy">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png">
    <meta property="og:description" content="Login | Crispy - Open Source Chat">
    <link rel="icon" type="image/x-icon" href="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png">
    <% if (title) { %>
        <title><%= title %> | Crispy</title>
      <% } else { %>
        <title>App | Crispy</title>
      <% } %>
    <%- include('../partials/crispychicken') %>
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
</head>
<body>
    <div class="appContainer">
        <div class="appPanel">
            <div class="notPanel">
                <div class="application">
                    <div class="app-primary">
                        <div class="custom-background"></div>
                        <div class="layer1">
                            <div class="layer2">
                                <div class="container">
                                    <nav class="guildNav">
                                        <ul class="unorderedList1">
                                            <div class="scroller" style="overflow: hidden scroll;">
                                                <div id="logoContainer">
                                                    <div onclick="location.href='/app/'" style="cursor: pointer;">
                                                        <div>
                                                            <div>
                                                                <img src="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png" style="width: 48px; height: 48px; border-radius: 14px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="scroller servers" style="overflow: visible scroll; padding-right: 0px; width: 100%; position: relative;">
                                                    <% for (const guild of guildData) { %>
                                                        <div class="guildItem" onclick="location.href='/app/<%= guild.uid %>'" title="<%= guild.title %>">
                                                            <div>
                                                                <div>
                                                                    <div class="guildImageContainer">
                                                                        <div class="guildImage">
                                                                            <img src="<%= guild.img %>" alt="<%= guild.title %> icon" style="width: 48px; height: 48px; border-radius: 14px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </ul>
                                    </nav>
                                </div>
                                <h3 class="eligible">This section of the site is still undergoing some major development, please be patient while we get Crispy up and running!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>