<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login | Crispy - Open Source Chat">
    <meta name="keywords" content="online, chat, app, open-source. crispy">
    <meta property="og:site_name" content="App | Crispy">
    <link rel="icon" href="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png" type="image/png">
    <meta property="og:title" content="App | Crispy">
    <meta property="og:image" content="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png">
    <meta property="og:description" content="Login | Crispy - Open Source Chat">
    <link rel="icon" type="image/x-icon" href="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png">
    <title>App | Crispy</title>
    <%- include('../partials/crispychicken') %>
    <meta name="theme-color" content="rgba(33, 33, 33, 0.98)">
</head>
<body>
    <div class="appContainer">
        <div class="appPanel">
            <div class="notPanel">
                <div class="application">
                    <div class="app-primary">
                        <div class="custom-background"></div>
                        <div class="layer1">
                            <div class="layer2">
                                <div class="container">
                                    <nav class="guildNav">
                                        <ul class="unorderedList1">
                                            <div class="scroller" style="overflow: hidden scroll;">
                                                <div id="logoContainer">
                                                    <div class="guildItem" onclick="location.href='/app/'" title="Home Screen" style="cursor: pointer;">
                                                        <div>
                                                            <div class="wrapper">
                                                                <img src="https://tallerthanshort.github.io/ut3.ggpht/icons/crispy.png" style="width: 48px; height: 48px; border-radius: 14px;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="servers" style="overflow: visible scroll; padding-right: 0px; width: 100%; position: relative;">
                                                    <% for (const guild of guildData) { %>
                                                        <div class="guildItem" onclick="location.href='/app/<%= guild.uid %>'" title="<%= guild.title %>">
                                                            <div>
                                                                <div class="wrapper">
                                                                    <div class="guildImageContainer">
                                                                        <div class="guildImage">
                                                                            <img src="<%= guild.img %>" alt="<%= guild.title %> icon" style="width: 48px; height: 48px; border-radius: 14px;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </ul>
                                    </nav>
                                    <div class="basecont2">
                                        <div class="content">
                                            <div class="header">
                                                <h3 class="eligible">Home</h3>
                                            </div>
                                            <div class="homeScreen">
                                                <h3 class="eligible" style="margin: 20px 0; font-size: 36px; text-align: center;">Welcome to Crispy!</h3>
                                                <div class="shortcuts">
                                                    <a style="background-color: black; border: 1px solid white; text-decoration: none; padding: 12px; text-align: center;" href="/app/#create">Create a Guild</a>
                                                    <a style="background-color: black; border: 1px solid white; text-decoration: none; padding: 12px; text-align: center;" href="/invite/commoncodes">Join the Default Guild</a>
                                                    <a style="background-color: black; border: 1px solid white; text-decoration: none; padding: 12px; text-align: center;" href="https://rvlt.gg/gY5yJNJR">Join our Revolt to give feedback</a>
                                                    <a style="background-color: black; border: 1px solid white; text-decoration: none; padding: 12px; text-align: center;" href="https://ko-fi.com/commoncodes">Support us via Ko-Fi</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>